In [1]:
import pandas as pd
import sys
import os

# utils_path = os.path.abspath('../dataset/PopulationStatistics')
# if utils_path not in sys.path:
#     sys.path.append(utils_path)

# from utils import *

In [2]:
file_path = '../dataset/Empty/101_DT_1JU1512_20250703031424.csv'
origin_df = pd.read_csv(file_path, encoding = 'cp949')

In [3]:
origin_df

,행정구역별(시군구),주택의 종류별,항목,단위,2022 년,2023 년,Unnamed: 6
0,서울특별시,계,주택_계,NaN,100706,107681,NaN
1,서울특별시,계,(건축연도) 2023년,NaN,NaN,5931,NaN
2,서울특별시,계,(건축연도) 2022년,NaN,6865,2693,NaN
3,서울특별시,계,(건축연도) 2021년,NaN,3231,2278,NaN
4,서울특별시,계,(건축연도) 2020년,NaN,1665,1951,NaN
...,...,...,...,...,...,...,...
33709,서귀포시,비주거용 건물 내 주택,(건축연도) 2005~2009년,NaN,11,12,NaN
33710,서귀포시,비주거용 건물 내 주택,(건축연도) 2000~2004년,NaN,29,30,NaN
33711,서귀포시,비주거용 건물 내 주택,(건축연도) 1990~1999년,NaN,48,44,NaN
33712,서귀포시,비주거용 건물 내 주택,(건축연도) 1980~1989년,NaN,48,46,NaN
33713,서귀포시,비주거용 건물 내 주택,(건축연도) 1979년 이전,NaN,35,38,NaN

In [9]:
origin_df['주택의 종류별'].unique()

array(['계', '단독주택', '아파트', '연립주택', '다세대주택', '비주거용 건물 내 주택'], dtype=object)